doctype html
html
  head
    meta(charset='utf-8')
  body
    h1
      a(href='/topic/view') Server Side JavaScript
    ul
    each title in topics
      li
        a(href='/topic/'+title)= title
    artcle
      h2= title
      = desc
    div
      a(href='/topic/new') 새로작성
